{% extends 'base.html' %}

{% block content %}
<h1>Manage Cameras</h1>
<form action="{{ url_for('add_camera') }}" method="post">
    <div class="mb-3">
        <label for="url" class="form-label">Camera URL</label>
        <input type="text" class="form-control" id="url" name="url">
    </div>
    <div class="mb-3">
        <label for="nickname" class="form-label">Camera Nickname</label>
        <input type="text" class="form-control" id="nickname" name="nickname">
    </div>
    <button type="submit" class="btn btn-primary">Add Camera</button>
</form>
<ul class="list-group mt-3">
    {% for camera in cameras %}
    <li class="list-group-item d-flex">
        <img src="{{camera_manager.get_last_frame(camera.id) }}" alt="Last frame" class="img-thumbnail" width="100">
        <div class="mx-2">
            <span>{{ camera.nickname }}<span class="badge badge-secondary bg-primary">{{ camera.status }} </span> 
            {% if camera.recording %}<span class="badge bg-danger">🔴</span>{% endif %}</span>
        </div>
        <form action="{{ url_for('edit_camera', camera_id=camera.id) }}" method="post" class="d-inline-block">
            <input type="text" class="form-control d-inline-block w-50" name="url" value="{{ camera.url }}">
            <input type="text" class="form-control d-inline-block w-25" name="nickname" value="{{ camera.nickname }}">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i></button>
        </form>
        <div>
            <a href="{{ url_for('remove_camera', camera_id=camera.id) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
        {% if not camera.recording %} <a href="{{ url_for('start_recording', camera_id=camera.id) }}" class="btn btn-primary"> <i class="fa fa-dot-circle-o"></i> Start Rec</a>
        {% else %}<a href="{{ url_for('stop_recording', camera_id=camera.id) }}" class="btn btn-secondary"><i class="fa fa-stop-circle"></i> Stop Rec</a>{% endif %}
        <a href="{{ url_for('flush_recording', camera_id=camera.id) }}" class="btn btn-warning"> <i class="fa fa-download"></i> Flush</a>
        <a href="{{ url_for('view_last_recording', camera_id=camera.id) }}" class="btn btn-info"><i class="fa fa-files-o"></i> Recordings</a>
        <a href="{{ url_for('refresh_feed', camera_id=camera.id) }}" class="btn btn-success"><i class="fa fa-refresh"></i> Refresh</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
